.wishlist-container{
    background-color: antiquewhite;
     background-size: cover;
    height: 100vh;
    color: rgb(238, 227, 227);
    font-family: 'Roboto';
    padding: 50px;}
.heading{
    color: rgb(254, 253, 253);
    font-family: 'Roboto';
    
}
    
.headings{
    color: aliceblue;
}
.wishlist-items{
    background-color: rgb(1, 35, 63);
    color: black;
    border-radius: 10px;
    height: 100px;
    
}    
.wishlist-item-details{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    color: aliceblue;
    align-items: center;
    

}

.wishlistImg{
    height: 80px;
    width: 80px;
}

.wishListBtn{
    border: 0px;
    border-radius: 5px;
    
    height: 25px;
    font-family: 'Roboto';
}

.border{
    border: 1px;
    border-style: double;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    font-family: 'Roboto';
    font-size: 10px;
}